@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #F5F5F5;
}

p {
    font-size: 18px;
}

main {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

/* social media box */
.social_media {
    background-color: var(--purple-500);
    color: var(--white);
    text-align: center;
    border-radius: .5rem;
    padding: 2rem;
}
.social_media img {
    width: 10rem;
}
.social_media h1 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.social_media span {
    color: var(--yellow-500);
}

/* multiple accounts box */
.accounts {
    background-color: var(--white);
    color: var(--black);
    border-radius: .5rem;
    padding: .8rem;
}
.accounts h2 {
    font-weight: 500;
    font-size: 25px;
    margin-top: .5rem;
}
.accounts img {
    width: 100%;
}

/* posting schedule box */
.post_schedule {
    background-color: var(--yellow-500);
    color: var(--black);
    border-radius: .5rem;
    padding: .8rem .8rem 0 .8rem;
    height: 196px;
    overflow: hidden;
}
.post_schedule h2 {
    font-weight: 500;
    font-size: 25px;
    width: 250px;
    margin-bottom: .6rem;
}
.post_schedule img {
    width: 14rem;
}

/* schedule box */
.schedule {
    background-color: var(--purple-100);
    color: var(--black);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}
.schedule h2 {
    font-weight: 500;
    font-size: 25px;
    margin: .3rem 0 1rem 0;
}
.schedule img {
    width: 100%;
}
.schedule p {
    font-size: 18px;
    width: 300px;
    margin: .8rem auto;
    font-weight: 500;
}

/* followers box */
.followers {
    background-color: var(--purple-500);
    color: var(--white);
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
}
.followers h2 {
    font-weight: 500;
    font-size: 33px;
    margin: 2rem auto 0 auto;
    width: 250px;
    line-height: 1.8rem;
}
.followers img {
    width: 15rem;
}

/* growth box */
.growth {
    background-color: var(--white);
    color: var(--black);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}
.growth h2 {
    font-size: 45px;
    font-weight: 500;
}
.growth p {
    margin-bottom: 1rem;
}
.growth img {
    width: 10rem;
}

/* content box */
.content {
    background-color: var(--yellow-100);
    color: var(--black);
    border-radius: .5rem;
    padding: 2rem;
}
.content h2 {
    font-weight: 500;
    font-size: 29px;
    line-height: 1.8rem;
}
.content span {
    color: var(--purple-500);
    font-style: italic;
}
.content img {
    width: 12rem;
    margin: 1rem 0;
}

/* AI content */
.ai_content {
    background-color: var(--yellow-500);
    color: var(--black);
    border-radius: .5rem;
    padding: 1.5rem;
}
.ai_content h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}
.ai_content img {
    width: 15rem;
}

@media (min-width: 640px) {
    body {
        
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    body {
        
    }
    
    main {
        width: 876px;
        grid-template-columns: repeat(4, 1fr);
    }

/* content box */
    .content {
        width: 200px;
        height: 320px;
        grid-area: 1 / 1 / 3 / 2;
        padding: 2.5rem 1.5rem;
    }
    .content h2 {
        font-size: 25px;
        line-height: 1.5rem;
    }
    .content img {
        width: 9rem;
    }

/* social media box */
    .social_media {
        grid-area: 1 / 2 / 2 / 4;
        width: 400px;
    }
    .social_media h1 {
        line-height: 2.7rem;
    }

/* schedule box */
    .schedule {
        width: 200px;
        grid-area: 1 / 4 / 3 / 5;
        padding-left: 1.5rem;
        overflow: hidden;
    }
    .schedule h2{
        text-align: left;
        font-size: 20px;
        line-height: 1.2rem;
    }
    .schedule p {
        width: 100%;
        text-align: left;
    }
    .schedule img {
        width: 18rem;
    }

/* accounts box */
    .accounts {
        width: 200px;
        grid-area: 2 / 2 / 3 / 3;
    }

    .post_schedule {
        width: 200px;
        grid-area: 2 / 3 / 3 / 4;
    }

    .ai_content {
        width: 200px;
        grid-area: 3 / 1 / 4 / 2;
    }

    .growth {
        width: 200px;
        grid-area: 3 / 2 / 4 / 3;
    }

    .followers {
        width: 430px;
        grid-area: 3 / 3 / 4 / 5;
        display: flex;

    }
}